h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 36px;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #fff8dc;
}
footer {
    margin-top: 30px;
    text-align: center;
}

footer a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #007bff; /* Делаем ссылку синей */
    font-weight: bold;
}

footer a:hover {
    color: #ff5722; /* При наведении цвет станет оранжевым */
}
